includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    excludePaths:
        analyse:
            - src/Resources/ActivityResourceV3.php
            - src/Resources/ActivityResource/Pages/ListActivitiesV3.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
